@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sideVideos {
    padding: 0 1.6rem;

    @include tablet {
        padding: $tablet-padding;
    }
    @include desktop {
        padding: 0;
    }

    &__header {
        color: silver;
        font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 800;

    }
}
