@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sideVideos {

    padding: $mobile-padding;

    @include tablet {
        padding: $tablet-padding;
    }
    
    &__header {
        color: silver;

        @include tablet {
            font-size: 1.4rem;
    line-height: 2.2rem;
            font-weight: 700;
        }

    }
}