@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mainVideo {
    @include tablet {
        background-color: black;
        
    }

    &__vid {
        width: 100%;
        object-fit: scale-down;

        @include tablet {
            padding: 0 3.6rem;
        }

        @include desktop {
            padding: 0 8rem;
        }
    }

    &__container {
        @include desktop {
            margin: auto;
            max-width: 1020px;
            
        }
    }
}
