// Text colours
$light-black-color: #323232;
$light-blue-color: #0095FF;
$silver-color: #AFAFAF;
$dark-blue-color: #0065AD;
$dark-black-color: #000000;
$divider-line-color: #E1E1E1;
$form-outline-color: #E1E1E1;
$form-background-color: #FAFAFA;

//Padding
$mobile-padding: 2.4rem;
