@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
    padding-top: 1.6rem;
    display: flex;
    justify-content: space-between;

    @include desktop {
        padding-right: 2rem;
    }

    &__title {
        color: silver;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 800;
        padding-bottom: 0.2rem;
    }

    &__content,
    &__template {
        display: flex;
        flex-direction: column;
    }

    &__content {
        width: 80%;

        @include tablet {
            width: 100%;
            align-items: baseline;
        }

        @include desktop {
            width: 88%;
        }
    }

    &__template {
        ::placeholder {
            color: $light-black-color;
            font-size: 1.2rem;
            line-height: 2rem;
            font-weight: 600;
            text-align: unset;
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;

            @include tablet {
                font-size: 1.2rem;
                line-height: 2rem;
                font-weight: 600;
                padding: 1.2rem;
                position: inherit;
            }
        }
        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__input {
        height: 10rem;
        border-radius: 4px;
        border: 2px solid $form-outline-color;
        background-color: $form-background-color;

        @include tablet {
            width: 75%;
            height: 3.5rem;
            margin-right: 2rem;
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        height: 4rem;
        @include comment-button;
        font-size: 1.4rem;
        line-height: 2rem;
        width: 100%;
        margin-top: 1.6rem;

        @include tablet {
            margin: 0;
            height: 3.5rem;
            font-size: 1.2rem;
            line-height: 2rem;
            width: 20%;
        }

        :hover {
            background-color: $dark-blue-color;
        }

        &-text {
            width: 90%;
        }

        &-icon {
            height: 1.6rem;
            padding-left: 1rem;

            @include tablet {
                height: 1.5rem;
            }
        }
    }
    &__image-div {
        margin-top: 2.4rem;

        @include tablet {
            margin-top: 2rem;
        }
    }

    &__image {
        @include avatar;

        @include tablet {
            margin-right: 2rem;
        }

        @include desktop {
            margin-right: 0;
        }
    }
}
