@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoDetails {
    padding: $mobile-padding;

    @include tablet {
        padding: $tablet-padding;
    }

    @include desktop {
        padding: 0;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 700;
        padding-bottom: 1.6rem;

        @include tablet {
            font-size: 3rem;
            line-height: 3.8rem;
            font-weight: 800;
            padding-bottom: 1rem;
        }

        @include desktop {
            padding: 0;
        }
    }

    &__subtitles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 2.4rem 0;

        @include tablet {
            align-items: center;
            padding: 0;
            padding-bottom: 1rem;
        }

        @include desktop {
            padding-right: 2rem;;
        }
    }

    &__channel {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 800;

        @include tablet {
            padding-right: 3rem;
        }
    }

    &__subtitleone,
    &__subtitletwo {
        width: 50%;

        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__subtitletwo {
        @include tablet {
            width: 38%;
        }
    }

   

    &__channel,
    &__date {
        width: 100%;

        @include tablet {
            width: fit-content;
        }
    }

    &__date {
        color: silver;
        @include page-header-mobile;
        padding-top: 1.8rem;
        font-size: 1.4rem;
        line-height: 2rem;

        @include tablet {
            padding: 0;
        }
    }

    &__likes,
    &__views {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        color: silver;
        @include page-header-mobile;

        @include tablet {
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-weight: 500;
            align-items: center;
            justify-content: flex-end;
        }

    }

    &__likes {
        padding-top: 1.8rem;

        @include tablet {
            padding: 0;
        }
    }

    &__viewIcon {
        height: 1.6rem;
        padding-right: 0.8rem;

        @include tablet {
            height: 1.8rem;
            padding: 0 1rem;
        }
    }

    &__likeIcon {
        height: 1.6rem;
        padding-right: 1rem;

        @include tablet {
            height: 1.8rem;
            padding: 0 1rem;
        }
    }

    &__divider {
        @include divider-lines;

        &--mobile {
            @include tablet {
                display: none;
            }
        }
    }

    &__description {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 500;
        padding-top: 1.4rem;

        @include tablet {
            font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
        }

        @include desktop {
            padding-right: 2rem;
            font-size: 1.4rem;
            line-height: 2rem;
            padding-top: 2.4rem;
        }
    }

    &__view-number, &__like-number {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
