@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sideVideo {
    display: flex;
    justify-content: space-between;
    margin: 1.6rem 0;

    @include tablet {
        width: 45%;
    }
    

    &__image-div {
    }

    &__image {
        width: 240px;
        height: 150px;
        border-radius: 8px;

        @include tablet {
            width: 113px;
    height: 70px;
        }
    }

    &__content {
        width: 60%;
    }

    &__title {
        font-size: 3rem;
        line-height: 3.8rem;
        font-weight: 700;

        @include tablet {
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }

    &__channel {
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: 500;
        padding-top: 3.5rem;

        @include tablet {
            font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    padding-top: 1rem;
        }
    }
}
