@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.commentItem {
  &__divider {
    @include divider-lines;
    margin-top: 2rem;
  }

  &__box {
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;

    @include desktop {
      padding-right: 2rem;
      padding-top: 2.4rem;
    }
  }

  &__image {
    @include avatar;
    background-color: $divider-line-color;
    border-radius: 50%;
  }

  &__content {
    width: 80%;

    @include tablet {
      width: 92%;
    }
  }

  &__headers {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    padding-top: 1.6rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    padding-bottom: 1.6rem;

    @include tablet {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 500;
      padding-top: 0.6rem;
    }

    @include desktop {
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 500;
      padding-top: 1.2rem;
    }
  }

  &__name {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 800;
  }

  &__date {
    color: silver;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
  }

  &__add-ons {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(228, 213, 213);
    margin-left: 7.5rem;
  }

  &__delete,
  &__like {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  &__delete-button,
  &__like-button {
    margin-right: 0.5rem;
    height: 1.3rem;
    color: $divider-line-color;
  }

  &__delete-text,
  &__like-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: $light-black-color;
  }
}
