@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.commentItem {
    

    &__divider {
        @include divider-lines;
    }

    &__box{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__image {
        height: 8rem;
        width: 8rem;
        background-color: $divider-line-color;
        border-radius: 50%;
    }

    &__content {
        width: 85%;
    }

    &__headers {
        display: flex;
        justify-content: space-between;
    }

    &__text{
        padding-top: 1.6rem;
        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: 400;
    }

    &__name {
        font-size: 2.8rem;
        line-height: 4.6rem;
        font-weight: 800;
    }

    &__date {
        color: silver;
        font-size: 2.8rem;
        line-height: 4.6rem;
        font-weight: 500;
    }
}